body{
    background-color: #1A1A1A;
    color: white;
}
.zone-code {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px; /* espace entre bouton et input */
}

.btn-code {
    padding: 5px 10px;
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}
